@charset "UTF-8";
.c-item {
  height: 46.2dvi;
  position: center;
  width: 100%;
}

@media screen and (max-width: 1600px) and (min-width: 1600px) {
  .c-item {
    height: 43dvi;
  }
}
@media screen and (max-width: 1500px) and (min-width: 1500px) {
  .c-item {
    height: 45dvi;
  }
}
@media screen and (max-width: 1360px) and (min-width: 1360px) {
  .c-item {
    height: 43dvi;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1024px) {
  .c-item {
    height: 56dvi;
  }
}
@media screen and (max-width: 750px) and (min-width: 0px) {
  .c-item {
    height: 75dvi;
  }
}
#nav {
  padding-left: 18%;
}

.navbar .navbar-collapse .navbar-nav > li > a {
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 34px 21px;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}

.slide-down {
  animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.navbar .navbar-collapse .navbar-nav > li > a:hover {
  background-color: #f1f1f1;
  border-bottom: 5px solid #d3e6c7;
  color: #a71d2a;
}

@media screen and (max-width: 750px) and (min-width: 750px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 31px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 375px) and (min-width: 375px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 20px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 412px) and (min-width: 412px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 30px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 390px) and (min-width: 390px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 31px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 393px) and (min-width: 393px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 32px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 360px) and (min-width: 360px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 25px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 421px) and (min-width: 421px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 36px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 414px) and (min-width: 414px) {
  .navbar .navbar-collapse .navbar-nav li > a {
    padding: 34.3px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 768px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 43px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 820px) and (min-width: 820px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 53px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 912px) and (min-width: 912px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 65px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 540px) and (min-width: 540px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 23px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 280px) and (min-width: 280px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 19px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1024px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 16px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 360px) and (min-width: 360px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 18.3px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 600px) and (min-width: 600px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 39px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 320px) and (min-width: 320px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 19px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 712px) and (min-width: 712px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 50px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 800px) and (min-width: 800px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 59px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 384px) and (min-width: 384px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 18.3px 21px;
    font-size: 0.87rem;
  }
}
@media screen and (max-width: 640px) and (min-width: 640px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 1.5px 21px;
    font-size: 0.87rem;
  }
}
.site-footer {
  background-color: #000000;
  color: #8996a0;
  padding-bottom: 64px;
  padding-top: 64px;
  position: relative;
  z-index: 2;
}

.site-footer__row {
  display: flex;
  flex-direction: column;
}

.site-footer__row--navigation {
  margin: 0 auto;
  max-width: 848px;
  width: 100%;
}

/* Footer Navigation */
.site-footer__nav-list {
  text-align: center;
}

.site-footer__menu-heading {
  color: #f3f4f4;
  font-family: "GT America Standard Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 16px;
  text-align: center;
}

.footer-one__item,
.footer-two__item,
.footer-three__item {
  font-family: "GT America Standard Regular";
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 8px;
}

.footer-one__action,
.footer-two__action,
.footer-three__action {
  border-bottom: 1px solid transparent;
  color: #8996a0;
  padding-bottom: 2px;
}

.footer-one__action:hover,
.footer-two__action:hover,
.footer-three__action:hover {
  border-color: #f3f4f4;
  color: #f3f4f4;
}

.site-footer__copyright,
.site-footer__copyright--below-logo {
  font-family: "GT America Standard Regular";
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  font-family: "GT America Standard Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.2px;
  line-height: 1.5;
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
  order: 3;
  color: white;
}

.site-footer__copyright p,
.site-footer__copyright--below-logo p {
  color: #8996a0;
}

.copy {
  color: white;
  transition: transform 0.3s, color 0.3s;
}

.copy:hover {
  transform: scale(1.1);
  color: #ff9900;
  /* Cor mais vibrante */
  transition: transform 0.3s, color 0.3s, filter 0.3s;
  /* Adicionando transição para o filtro */
  filter: brightness(0);
  /* Torna o texto preto durante a transição */
}

.site-footer__copyright a,
.site-footer__copyright--below-logo a {
  border-bottom: 1px solid #8996a0;
  color: #8996a0;
  padding-bottom: 2px;
}

.site-footer__copyright a:hover,
.site-footer__copyright--below-logo a:hover {
  border-color: #f3f4f4;
  color: #f3f4f4;
}

.site-footer__logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  order: 1;
}

.site-footer__logo img {
  max-width: 200px;
}

.site-footer__logo.no-social {
  margin-bottom: 0;
  margin-top: 40px;
}

.site-footer__social {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 40px;
  order: 2;
}

.site-footer__social.empty {
  padding: 0;
}

.site-footer__copyright--below-logo {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .site-footer__row {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .site-footer__row--secondary {
    flex-direction: column;
  }
}
@media (min-width: 960px) {
  .site-footer__row--secondary {
    align-items: flex-end;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .site-footer__row--navigation {
    justify-content: center;
  }
}
.site-footer__menu-col {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .site-footer__menu-col {
    padding-bottom: 48px;
    width: 33.33%;
  }
}
@media (min-width: 960px) {
  .site-footer__social {
    justify-content: flex-end;
    order: 3;
    padding-bottom: 0;
    padding-top: 0;
    width: 33.33%;
  }
}
@media (min-width: 960px) {
  .site-footer__copyright--below-logo {
    width: auto;
  }
}
@media (min-width: 960px) {
  .site-footer__logo {
    margin-bottom: 0;
    width: 33.33%;
  }
}
@media (min-width: 960px) {
  .site-footer__logo.no-social {
    margin-top: 0;
  }
}
@media (min-width: 960px) {
  .site-footer__copyright,
  .site-footer__copyright--below-logo {
    font-size: 16px;
    justify-content: flex-start;
    width: 33.33%;
    order: 1;
  }
}

/*# sourceMappingURL=main.css.map */
