body {
  background-color: #ffffff;
}

body a,
body a:hover {
  color: #5a9d33;
  text-decoration: none;
}

.container01 {
  align-items: center;
  text-align: center;
}

/* Estilos para o efeito de hover nas imagens */
.embed:hover img {
  transform: scale(1.05);
  /* Aumenta o tamanho da imagem em 5% */
  transition: transform 0.3s, opacity 0.3s;
  /* Adiciona transição suave */
}

.embed:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* Cor e opacidade do fundo */
  opacity: 0;
  transition: opacity 0.3s;
}

.embed:hover::before,
.embed:hover img {
  opacity: 1;
  /* Torna o fundo e a imagem visíveis no hover */
}

.row {
  display: flex;
  justify-content: center;
}

.col-lg {
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.col-lg img {
  width: 140px;
  height: 140px;
}

.col-lg:hover {
  transform: scale(1.05);
}

.c-item {
  height: 46.2dvi;
  position: center;
  width: 100%;
}

.space {
  height: 100px;
}

.spacex {
  height: 45px;
}

#sld1 {
  filter: brightness(0.9);
}

#sld2 {
  filter: brightness(1);
}

.c-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  filter: brightness(1);
}

#nav {
  padding-left: 18%;
}

.navbar .navbar-collapse .navbar-nav > li > a {
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 34px 21px;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}

.slide-down {
  animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar .navbar-collapse .navbar-nav > li > a:hover {
  background-color: #f1f1f1;
  border-bottom: 5px solid #d3e6c7;
  color: #a71d2a;
}

.unidade-cursos {
  text-align: center;
  border-style: outset;
  border-width: 1px;
  border-style: solid;
  border-color: #283e06;
  margin-right: 20%;
  margin-left: 20%;
  box-shadow: 10px 15px grey;
}

.unidade-introducao {
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 0.5%;
}

#und-txt {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

.wrapper,
.home-intro__wrapper,
.home-filters__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing: 24px;
  --spacing-m: 36px;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  body {
    --smart-spacing: var(--spacing-s);
  }
}

.wrapper,
.home-intro__wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--smart-spacing);
  padding-right: var(--smart-spacing);
}

.embed {
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.embed iframe,
.embed object,
.embed embed,
.embed > * {
  width: 100%;
  height: 100%;
  position: absolute;
}

.home-intro__wrapper {
  display: grid;
  grid-gap: var(--spacing-m);
  align-items: center;
}

@media screen and (min-width: 29em) {
  .home-intro__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
  }
}

.home-intro__title {
  margin-top: 0;
  font-size: 1.2em;
}

.home-intro__text {
  font-size: 0.95em;
  text-align: justify;
  padding-right: 5%;
}

.home-intro__text:last-child {
  margin-bottom: 0;
}

#introgirl {
  float: left;
  margin-right: 10px;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 2%;
}

#textgirl {
  text-align: justify;
  align-items: center;
  padding-right: 1%;
  font-weight: 200;
  margin-left: 70%;
}

#char {
  color: white;
  text-align: center;
  font-style: normal;
  background-color: #000000;
}

#char01 {
  text-align: center;
  font-family: serif;
}

#char02 {
  text-align: center;
}

#char03 {
  color: white;
  text-align: center;
  text-decoration: underline rgb(101, 101, 101);
}

.card-body {
  color: #ffffff;
  background-color: #000000;
}

.cards {
  background-color: #343a4019;
}

.card-text {
  color: #ffffff;
  text-align: justify;
}

#ft {
  filter: saturate(0);
}

.to-top {
  background-color: #5a9d33a1;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

#low {
  font-family: "Neue Helvetica BQ", sans-serif;
  font-size: 45px;
}

/* CSS para a animação de chacoalhar com mudança de cor muito lenta ao passar o mouse */
.fa.fa-graduation-cap {
  font-size: 48px;
  /* Tamanho padrão do ícone */
  color: #000000;
  /* Cor padrão do ícone */
  transition: transform 1.2s ease, color 5s ease;
  /* Transições suaves */
}

.fa.fa-graduation-cap:hover {
  animation: shake-color-change 6s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  /* Aplica a animação de chacoalhar */
}

@keyframes shake-color-change {
  0%,
  100% {
    transform: translateX(0);
    /* Mantém a posição inicial */
    color: #800000;
    /* Vermelho escuro */
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(5px);
    /* Chacoalha para a direita */
    color: #800000;
    /* Vermelho escuro */
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-5px);
    /* Chacoalha para a esquerda */
    color: #008000;
    /* Verde escuro */
  }
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

@media screen and (max-width: 100000px) and (min-width: 1200px) {
  /* Adicione transições suaves para os menus dropdown */
  .dropdown-menu {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
    display: block !important;
    pointer-events: none;
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

@media screen and (max-width: 991px) and (min-width: 576px) {
  .col-sm-4 {
    height: vh;
    width: 1000px;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
  .ioa {
    height: vh;
    width: 900px;
  }
}

@media screen and (max-width: 1399px) and (min-width: 0px) {
  #textgirl {
    margin: 0%;
  }
}

@media screen and (max-width: 750px) and (min-width: 0px) {
  #low {
    font-family: "Neue Helvetica BQ", sans-serif;
    font-size: 25px;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1600px) {
  .c-item {
    height: 43dvi;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1500px) {
  .c-item {
    height: 45dvi;
  }
}

@media screen and (max-width: 1360px) and (min-width: 1360px) {
  .c-item {
    height: 43dvi;
  }
}

@media screen and (max-width: 1024px) and (min-width: 1024px) {
  .c-item {
    height: 56dvi;
  }
}

@media screen and (max-width: 750px) and (min-width: 0px) {
  .c-item {
    height: 75dvi;
  }
}

@media screen and (max-width: 750px) and (min-width: 0px) {
  .c-img {
    filter: brightness(0.7);
  }
}

@media screen and (max-width: 750px) and (min-width: 750px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 31px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 375px) and (min-width: 375px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 20px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 412px) and (min-width: 412px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 30px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 390px) and (min-width: 390px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 31px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 393px) and (min-width: 393px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 32px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 360px) and (min-width: 360px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 25px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 421px) and (min-width: 421px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 36px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 414px) and (min-width: 414px) {
  .navbar .navbar-collapse .navbar-nav li > a {
    padding: 34.3px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  h2.home-intro__title {
  }
}

.card-img-top {
  transition: opacity 0.3s;
}

.card-img-top:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) and (min-width: 768px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 43px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 820px) and (min-width: 820px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 53px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 912px) and (min-width: 912px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 65px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 540px) and (min-width: 540px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 23px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 280px) and (min-width: 280px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 19px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 1024px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 16px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 360px) and (min-width: 360px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 18.3px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 600px) and (min-width: 600px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 39px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 320px) and (min-width: 320px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 19px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 712px) and (min-width: 712px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 50px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 800px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 59px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 384px) and (min-width: 384px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 18.3px 21px;
    font-size: 0.87rem;
  }
}

@media screen and (max-width: 640px) and (min-width: 640px) {
  .navbar .navbar-collapse .navbar-nav > li > a {
    padding: 1.5px 21px;
    font-size: 0.87rem;
  }
}

#radius-img {
  border-radius: 1%;
  width: 100%;
  height: 100%;
}

.site-footer {
  background-color: #000000;
  color: #8996a0;
  padding-bottom: 64px;
  padding-top: 64px;
  position: relative;
  z-index: 2;
}

.site-footer__row {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .site-footer__row {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .site-footer__row--secondary {
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  .site-footer__row--secondary {
    align-items: flex-end;
    flex-direction: row;
  }
}

.site-footer__row--navigation {
  margin: 0 auto;
  max-width: 848px;
  width: 100%;
}

@media (min-width: 768px) {
  .site-footer__row--navigation {
    justify-content: center;
  }
}

.site-footer__menu-col {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .site-footer__menu-col {
    padding-bottom: 48px;
    width: 33.33%;
  }
}

/* Footer Navigation */

.site-footer__nav-list {
  text-align: center;
}

.site-footer__menu-heading {
  color: #f3f4f4;
  font-family: "GT America Standard Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 16px;
  text-align: center;
}

.footer-one__item,
.footer-two__item,
.footer-three__item {
  font-family: "GT America Standard Regular";
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;

  font-size: 18px;
  margin-bottom: 8px;
}

.footer-one__action,
.footer-two__action,
.footer-three__action {
  border-bottom: 1px solid transparent;
  color: #8996a0;
  padding-bottom: 2px;
}

.footer-one__action:hover,
.footer-two__action:hover,
.footer-three__action:hover {
  border-color: #f3f4f4;
  color: #f3f4f4;
}

.site-footer__copyright,
.site-footer__copyright--below-logo {
  font-family: "GT America Standard Regular";
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  font-family: "GT America Standard Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.2px;
  line-height: 1.5;
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
  order: 3;
  color: white;
}

@media (min-width: 960px) {
  .site-footer__copyright,
  .site-footer__copyright--below-logo {
    font-size: 16px;
    justify-content: flex-start;
    width: 33.33%;
    order: 1;
  }
}

.site-footer__copyright p,
.site-footer__copyright--below-logo p {
  color: #8996a0;
}

.copy {
  color: white;
  transition: transform 0.3s, color 0.3s;
}

.copy:hover {
  transform: scale(1.1);
  color: #ff9900;
  /* Cor mais vibrante */
  transition: transform 0.3s, color 0.3s, filter 0.3s;
  /* Adicionando transição para o filtro */
  filter: brightness(0);
  /* Torna o texto preto durante a transição */
}

.site-footer__copyright a,
.site-footer__copyright--below-logo a {
  border-bottom: 1px solid #8996a0;
  color: #8996a0;
  padding-bottom: 2px;
}

.site-footer__copyright a:hover,
.site-footer__copyright--below-logo a:hover {
  border-color: #f3f4f4;
  color: #f3f4f4;
}

.site-footer__logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  order: 1;
}

@media (min-width: 960px) {
  .site-footer__logo {
    margin-bottom: 0;
    width: 33.33%;
  }
}

.site-footer__logo img {
  max-width: 200px;
}

.site-footer__logo.no-social {
  margin-bottom: 0;
  margin-top: 40px;
}

@media (min-width: 960px) {
  .site-footer__logo.no-social {
    margin-top: 0;
  }
}

.site-footer__social {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 40px;
  order: 2;
}

@media (min-width: 960px) {
  .site-footer__social {
    justify-content: flex-end;
    order: 3;
    padding-bottom: 0;
    padding-top: 0;
    width: 33.33%;
  }
}

.site-footer__social.empty {
  padding: 0;
}

.site-footer__copyright--below-logo {
  margin-top: 16px;
}

@media (min-width: 960px) {
  .site-footer__copyright--below-logo {
    width: auto;
  }
}

/* CSS para o efeito hover nos links */
.unidade-cursos a {
  font-size: 16px;
  /* Tamanho padrão da fonte */
  transition: color 0.5s ease, font-size 0.3s ease;
  /* Transições suaves */
}

.unidade-cursos a:hover {
  color: rgb(199, 0, 0);
  /* Cor vermelha ao passar o mouse */
  font-size: 20px;
  /* Tamanho maior ao passar o mouse */
}

.dark-mode #cap {
  color: white;
}
