* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 10vh;
}
body a,
body a:hover {
  color: #5a9d33;
  text-decoration: none;
}

.container01 {
  align-items: center;
  text-align: center;
}

/* Estilos para o efeito de hover nas imagens */
.embed:hover img {
  transform: scale(1.05);
  /* Aumenta o tamanho da imagem em 5% */
  transition: transform 0.3s, opacity 0.3s;
  /* Adiciona transição suave */
}

.embed:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* Cor e opacidade do fundo */
  opacity: 0;
  transition: opacity 0.3s;
}

.embed:hover::before,
.embed:hover img {
  opacity: 1;
  /* Torna o fundo e a imagem visíveis no hover */
}

.row {
  display: flex;
  justify-content: center;
}

.col-lg {
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.col-lg img {
  width: 140px;
  height: 140px;
}

.col-lg:hover {
  transform: scale(1.05);
}

.space {
  height: 100px;
}

.spacex {
  height: 45px;
}

#sld1 {
  filter: brightness(0.9);
}

#sld2 {
  filter: brightness(1);
}

.c-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  filter: brightness(1);
}

.unidade-cursos {
  text-align: center;
  border-style: outset;
  border-width: 1px;
  border-style: solid;
  border-color: #283e06;
  margin-right: 20%;
  margin-left: 20%;
  box-shadow: 10px 15px grey;
}

.unidade-introducao {
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 0.5%;
}

#und-txt {
  font-size: 20px;
}

[hidden] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

.wrapper,
.home-intro__wrapper,
.home-filters__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing: 24px;
  --spacing-m: 36px;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  body {
    --smart-spacing: var(--spacing-s);
  }
}
.wrapper,
.home-intro__wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--smart-spacing);
  padding-right: var(--smart-spacing);
}

.embed {
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.embed iframe,
.embed object,
.embed embed,
.embed > * {
  width: 100%;
  height: 100%;
  position: absolute;
}

.home-intro__wrapper {
  display: grid;
  grid-gap: var(--spacing-m);
  align-items: center;
}

@media screen and (min-width: 29em) {
  .home-intro__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
  }
}
.home-intro__title {
  margin-top: 0;
  font-size: 1.2em;
}

.home-intro__text {
  font-size: 0.95em;
  text-align: justify;
  padding-right: 5%;
}

.home-intro__text:last-child {
  margin-bottom: 0;
}

#introgirl {
  float: left;
  margin-right: 10px;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 2%;
}

#textgirl {
  text-align: justify;
  align-items: center;
  padding-right: 1%;
  font-weight: 200;
  margin-left: 70%;
}

#char {
  color: white;
  text-align: center;
  font-style: normal;
  background-color: #000000;
}

#char01 {
  text-align: center;
  font-family: serif;
}

#char02 {
  text-align: center;
}

#char03 {
  color: white;
  text-align: center;
  text-decoration: underline rgb(101, 101, 101);
}

.card-body {
  color: #ffffff;
  background-color: #000000;
}

.cards {
  background-color: rgba(52, 58, 64, 0.0980392157);
}

.card-text {
  color: #ffffff;
  text-align: justify;
}

#ft {
  filter: saturate(0);
}

.to-top {
  background-color: rgba(90, 157, 51, 0.631372549);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

#low {
  font-size: 45px;
}

/* CSS para a animação de chacoalhar com mudança de cor muito lenta ao passar o mouse */
.fa.fa-graduation-cap {
  font-size: 48px;
  /* Tamanho padrão do ícone */
  color: #000000;
  /* Cor padrão do ícone */
  transition: transform 1.2s ease, color 5s ease;
  /* Transições suaves */
}

.fa.fa-graduation-cap:hover {
  animation: shake-color-change 6s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  /* Aplica a animação de chacoalhar */
}

@keyframes shake-color-change {
  0%,
  100% {
    transform: translateX(0);
    /* Mantém a posição inicial */
    color: #800000;
    /* Vermelho escuro */
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(5px);
    /* Chacoalha para a direita */
    color: #800000;
    /* Vermelho escuro */
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-5px);
    /* Chacoalha para a esquerda */
    color: #008000;
    /* Verde escuro */
  }
}

@media screen and (max-width: 100000px) and (min-width: 1200px) {
  /* Adicione transições suaves para os menus dropdown */
  .dropdown-menu {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
    display: block !important;
    pointer-events: none;
  }
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
@media screen and (max-width: 991px) and (min-width: 576px) {
  .col-sm-4 {
    height: vh;
    width: 1000px;
  }
}
@media screen and (max-width: 1399px) and (min-width: 1200px) {
  .ioa {
    height: vh;
    width: 900px;
  }
}
@media screen and (max-width: 1399px) and (min-width: 0px) {
  #textgirl {
    margin: 0%;
  }
}
@media screen and (max-width: 750px) and (min-width: 0px) {
  #low {
    font-family: "Neue Helvetica BQ", sans-serif;
    font-size: 25px;
  }
}

@media screen and (max-width: 750px) and (min-width: 0px) {
  .c-img {
    filter: brightness(0.7);
  }
}

.card-img-top {
  transition: opacity 0.3s;
}

.card-img-top:hover {
  opacity: 0.8;
}
#radius-img {
  border-radius: 1%;
  width: 100%;
  height: 100%;
}
/* CSS para o efeito hover nos links */
.unidade-cursos a {
  font-size: 16px;
  /* Tamanho padrão da fonte */
  transition: color 0.5s ease, font-size 0.3s ease;
  /* Transições suaves */
}

.unidade-cursos a:hover {
  color: rgb(199, 0, 0);
  /* Cor vermelha ao passar o mouse */
  font-size: 20px;
  /* Tamanho maior ao passar o mouse */
}

.dark-mode #cap {
  color: white;
}
