body {
  background-color: #ffffff;
}

body a,
body a:hover {
  color: #a71d2a;
  text-decoration: none;
}

.c-item {
  height: 46.2dvi;
  position: center;
  width: 100%;
}

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #e8bb00;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  scale: 0.9;
}

.comic-button:hover {
  background-color: #fff;
  color: #f3d500;
  border: 2px solid #f3d500;
  box-shadow: 5px 5px 0px #f3d500;
  scale: 1;
}

.comic-button:active {
  background-color: #b53737;
  box-shadow: none;
  transform: translateY(4px);
}

.c-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  filter: brightness(0.5);
}

.navbar .navbar-collapse .navbar-nav > li > a {
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 34px 21px;
  border-bottom: 5px solid transparent;
  color: #343a40;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}

.navbar .navbar-collapse .navbar-nav > li > a:hover {
  background-color: #f1f1f1;
  border-bottom: 5px solid #ff91005f;
  color: #a71d2a;
}

.unidade-cursos {
  text-align: center;
  border-style: outset;
  border-width: 1px;
  border-style: solid;
  border-color: #a71d2a;
  margin-right: 25%;
  margin-left: 25%;
  box-shadow: 10px 15px grey;
  border-radius: 1%;
}

#tex {
  margin-left: 15%;
  margin-right: 15%;
}

.unidade-introducao {
  text-align: center;
  border-radius: 1%;
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

.wrapper,
.home-intro__wrapper,
.home-filters__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing: 24px;
  --spacing-m: 36px;
}

html,
body {
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  body {
    --smart-spacing: var(--spacing-s);
  }
}

.wrapper,
.home-intro__wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--smart-spacing);
  padding-right: var(--smart-spacing);
}

.embed {
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.embed iframe,
.embed object,
.embed embed,
.embed > * {
  width: 100%;
  height: 100%;
  position: absolute;
}

.home-intro__wrapper {
  display: grid;
  grid-gap: var(--spacing-m);
  align-items: center;
}

@media screen and (min-width: 29em) {
  .home-intro__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
  }
}

.home-intro__title {
  margin-top: 0;
  font-size: 1.2em;
}

.home-intro__text {
  font-size: 0.95em;
  text-align: justify;
  padding-right: 5%;
}

.home-intro__text:last-child {
  margin-bottom: 0;
}

.to-top {
  background: rgb(255, 145, 101);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

@media screen and (max-width: 100000px) and (min-width: 650px) {
  #tex {
    text-align: justify;
  }
}

#img-border {
  border-radius: 1%;
}

.site-footer {
  background-color: #000000;
  color: #8996a0;
  padding-bottom: 64px;
  padding-top: 64px;
  position: relative;
  z-index: 2;
}

.site-footer__row {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .site-footer__row {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .site-footer__row--secondary {
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  .site-footer__row--secondary {
    align-items: flex-end;
    flex-direction: row;
  }
}

.site-footer__row--navigation {
  margin: 0 auto;
  max-width: 848px;
  width: 100%;
}

@media (min-width: 768px) {
  .site-footer__row--navigation {
    justify-content: center;
  }
}

.site-footer__menu-col {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .site-footer__menu-col {
    padding-bottom: 48px;
    width: 33.33%;
  }
}

/* Footer Navigation */

.site-footer__nav-list {
  text-align: center;
}

.site-footer__menu-heading {
  color: #f3f4f4;
  font-family: "GT America Standard Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 16px;
  text-align: center;
}

.footer-one__item,
.footer-two__item,
.footer-three__item {
  font-family: "GT America Standard Regular";
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;

  font-size: 18px;
  margin-bottom: 8px;
}

.footer-one__action,
.footer-two__action,
.footer-three__action {
  border-bottom: 1px solid transparent;
  color: #8996a0;
  padding-bottom: 2px;
}

.footer-one__action:hover,
.footer-two__action:hover,
.footer-three__action:hover {
  border-color: #f3f4f4;
  color: #f3f4f4;
}

.site-footer__copyright,
.site-footer__copyright--below-logo {
  font-family: "GT America Standard Regular";
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  font-family: "GT America Standard Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.2px;
  line-height: 1.5;
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
  order: 3;
}

@media (min-width: 960px) {
  .site-footer__copyright,
  .site-footer__copyright--below-logo {
    font-size: 16px;
    justify-content: flex-start;
    width: 33.33%;
    order: 1;
  }
}

.site-footer__copyright p,
.site-footer__copyright--below-logo p {
  color: #8996a0;
}

.site-footer__copyright a,
.site-footer__copyright--below-logo a {
  border-bottom: 1px solid #8996a0;
  color: #8996a0;
  padding-bottom: 2px;
}

.site-footer__copyright a:hover,
.site-footer__copyright--below-logo a:hover {
  border-color: #f3f4f4;
  color: #f3f4f4;
}

.site-footer__logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  order: 1;
}

@media (min-width: 960px) {
  .site-footer__logo {
    margin-bottom: 0;
    width: 33.33%;
  }
}

.site-footer__logo img {
  max-width: 200px;
}

.site-footer__logo.no-social {
  margin-bottom: 0;
  margin-top: 40px;
}

@media (min-width: 960px) {
  .site-footer__logo.no-social {
    margin-top: 0;
  }
}

.site-footer__social {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 40px;
  order: 2;
}

@media (min-width: 960px) {
  .site-footer__social {
    justify-content: flex-end;
    order: 3;
    padding-bottom: 0;
    padding-top: 0;
    width: 33.33%;
  }
}

.site-footer__social.empty {
  padding: 0;
}

.site-footer__copyright--below-logo {
  margin-top: 16px;
}

@media (min-width: 960px) {
  .site-footer__copyright--below-logo {
    width: auto;
  }
}

@media screen and (max-width: 750px) and (min-width: 0px) {
  .c-item {
    height: 75dvi;
  }
}

@media screen and (max-width: 1500px) and (min-width: 800px) {
  .c-item {
    height: 45dvi;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1600px) {
  .c-item {
    height: 42dvi;
  }
}
