<<<<<<< HEAD
.c-item {
    height: 46.2dvi;
    position: center;
    width: 100%;
  }
  @media screen and (max-width: 1600px) and (min-width: 1600px) {
    .c-item {
      height: 43dvi;
    }
  }
  @media screen and (max-width: 1500px) and (min-width: 1500px) {
    .c-item {
      height: 45dvi;
    }
  }
  @media screen and (max-width: 1360px) and (min-width: 1360px) {
    .c-item {
      height: 43dvi;
    }
  }
  @media screen and (max-width: 1024px) and (min-width: 1024px) {
    .c-item {
      height: 56dvi;
    }
  }
  @media screen and (max-width: 750px) and (min-width: 0px) {
    .c-item {
      height: 75dvi;
    }
=======
.c-item {
    height: 46.2dvi;
    position: center;
    width: 100%;
  }
  @media screen and (max-width: 1600px) and (min-width: 1600px) {
    .c-item {
      height: 43dvi;
    }
  }
  @media screen and (max-width: 1500px) and (min-width: 1500px) {
    .c-item {
      height: 45dvi;
    }
  }
  @media screen and (max-width: 1360px) and (min-width: 1360px) {
    .c-item {
      height: 43dvi;
    }
  }
  @media screen and (max-width: 1024px) and (min-width: 1024px) {
    .c-item {
      height: 56dvi;
    }
  }
  @media screen and (max-width: 750px) and (min-width: 0px) {
    .c-item {
      height: 75dvi;
    }
>>>>>>> 8639b17c6c51f7d48ca490de92a7caa6b6e24e9c
  }